workflows/8onhO14aPaO7cNor.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test data": {
      "main": [
        [
          {
            "node": "Format data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format data": {
      "main": [
        [
          {
            "node": "Normalize data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encrypt data": {
      "main": [
        [
          {
            "node": "Send event to Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize data": {
      "main": [
        [
          {
            "node": "Encrypt data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute workflow": {
      "main": [
        [
          {
            "node": "Test data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-19T03:05:12.346Z",
  "id": "8onhO14aPaO7cNor",
  "isArchived": false,
  "meta": {
    "templateId": "5136"
  },
  "name": "Facebook/Meta Conversion API for eCommerce Leads/Orders",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65d1994d-f4b8-478a-8cf1-490990e6639d",
              "name": "user_data.phone",
              "type": "string",
              "value": "={{$json.user_data.phone.replace(/\\D/g, '').replace(/^0+/, '')}}"
            },
            {
              "id": "5650546d-f0ad-4c69-829c-3e4283e16ac7",
              "name": "event_time",
              "type": "number",
              "value": "={{Math.floor(new Date($json.event_time).getTime() / 1000)}}"
            },
            {
              "id": "9475d631-348f-4d53-9e75-0d568654aeef",
              "name": "user_data.first_name",
              "type": "string",
              "value": "={{$json.user_data.first_name}}"
            },
            {
              "id": "77a8f321-abf9-4618-8fb2-ef5d567a9cd1",
              "name": "user_data.last_name",
              "type": "string",
              "value": "={{$json.user_data.last_name}}"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "user_data.name",
        "options": {}
      },
      "id": "7fd5ddfd-a858-4a0a-84b8-f8f4ec034d63",
      "name": "Normalize data",
      "type": "n8n-nodes-base.set",
      "position": [
        1616,
        560
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Data normalization",
        "height": 252,
        "width": 343,
        "color": 7
      },
      "id": "978d3854-44f6-4773-928e-4536a97a48b1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "097ed7ff-c076-454e-930c-1f4820ac6e2e",
              "name": "user_data.first_name",
              "type": "string",
              "value": "={{ $json.user_data.first_name.hash(\"sha256\") }}"
            },
            {
              "id": "e285fa12-d272-48a0-a583-5e90b394fd74",
              "name": "user_data.last_name",
              "type": "string",
              "value": "={{ $json.user_data.last_name.hash(\"sha256\") }}"
            },
            {
              "id": "1e87a997-5b78-48d8-9616-edfb1b910743",
              "name": "user_data.phone",
              "type": "string",
              "value": "={{ $json.user_data.phone.hash(\"sha256\") }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "feb4a686-278f-41d4-ab13-ba4fbc159ef6",
      "name": "Encrypt data",
      "type": "n8n-nodes-base.set",
      "position": [
        1968,
        560
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Data encryption\n",
        "height": 252,
        "width": 343,
        "color": 7
      },
      "id": "1beb8a7c-0bce-489a-aea4-c2acb937601f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Send event\nYou can use a test code from Facebook Events Manager to verify your integration.\n\nAdd your test code to the test_code parameter inside the JSON payload.\n\nOnce everything is confirmed to be working, remove the test_event_code so that events are officially logged.\n\n[**Read more**](https://business.facebook.com/business/help/2040882565969969)",
        "height": 414,
        "width": 375,
        "color": 7
      },
      "id": "9f867c8b-fdc1-4294-b56e-12340c604111",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2352,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "=v20.0",
        "node": "={{$('Format data').item.json.pixel_id}}",
        "edge": "events",
        "options": {
          "queryParametersJson": "={\n  \"data\": [\n    {\n      \"event_name\": \"{{ $('Encrypt data').item.json.event_name }}\",\n      \"event_time\": {{ $('Encrypt data').item.json.event_time }},\n      \"event_source_url\": \"{{ $('Encrypt data').item.json.event_source_url }}\",\n      \"action_source\": \"{{ $('Encrypt data').item.json.action_source }}\",\n      \"user_data\": {\n        \"em\": \"{{ $('Encrypt data').item.json.user_data.email }}\",\n        \"ph\": \"{{ $('Encrypt data').item.json.user_data.phone }}\",\n        \"fn\": \"{{ $('Encrypt data').item.json.user_data.first_name }}\",\n        \"ln\": \"{{ $('Encrypt data').item.json.user_data.last_name }}\",\n        \"fbc\": \"{{ $('Encrypt data').item.json.user_data.fbp }}\",\n        \"fbp\": \"{{ $('Encrypt data').item.json.user_data.fbc }}\",\n        \"ip\": \"{{ $('Encrypt data').item.json.user_data.ip }}\",\n        \"user_agent\": \"{{ $('Encrypt data').item.json.user_data.user_agent }}\"\n      },\n      \"custom_data\": {\n        \"value\": {{ $('Encrypt data').item.json.custom_data.value }},\n        \"currency\": \"{{ $('Encrypt data').item.json.custom_data.currency }}\"\n      }\n    }\n  ],\n  \"test_event_code\": \"TEST1337\"\n}\n"
        }
      },
      "id": "c00c1fac-7550-4fa9-8fc9-e9f250519e6a",
      "name": "Send event to Meta",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        2496,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "GET"
        ],
        "path": "b408defb-315d-4676-b4c4-1dcebe81ffc0",
        "options": {}
      },
      "id": "5b486767-1ec1-4829-a556-ddc4f0c13f95",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        416,
        320
      ],
      "webhookId": "b408defb-315d-4676-b4c4-1dcebe81ffc0",
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Test data \nYou can chenge test data here",
        "height": 220
      },
      "id": "8a8ee5fb-edf4-410c-b86c-a1b805a66319",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"body\": {\n    'first_name': \"Alex\",\n    'last_name': \"Forbic\",\n    'phone': \"+116435562\",\n    'ip': \"16.115.243.190\",\n    'user_agent': \"Mozilla/5.0 (Linux; Android 14; SM-A065F Build/UP1A.231005.007; )\",\n    'fbp': \"fb.1.1750638230973.IwZXh0bgNhZW0BMABhZGlkAasgzcY0SboBHlIpXRPFXRua8Udfs9qnBwf4GN3xGWPk9HvipTCJeUYt8jaENcQyAm_TYaYITPrWtzJcJ8e38-CMQ\",\n    'fbc': \"fb.1.1750612363841.918837434857767253\",\n    'created_at': \"2025-06-18T15:24:06.000000Z\",\n    'amount': 120,\n    'currency': \"EUR\"\n  }\n};"
      },
      "id": "40240bfc-8e7b-4c5b-84e0-b8ccd52b097e",
      "name": "Test data",
      "type": "n8n-nodes-base.code",
      "position": [
        576,
        752
      ],
      "notesInFlow": true,
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Test Workflow\nClick this button to test the workflow with fake data \n",
        "height": 240
      },
      "id": "dbb5d646-4500-4ed9-89b6-607ebfc216d9",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "8473264d-fbad-4213-a0bf-84e7f841053e",
      "name": "Execute workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        128,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Change here\n",
        "height": 80,
        "width": 340,
        "color": 7
      },
      "id": "ad465243-cb30-492d-b77c-1066fec33c1b",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Collect data\nIn this node you link between your webhook data with this node parameters, also you can add more data.",
        "height": 312,
        "width": 343,
        "color": 7
      },
      "id": "1b1c1cd5-ecfe-40d2-af82-1b0cc2b65e7c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      event_name: \"Purchase\",\n      pixel_id:'1714041194725552', // you pixel ID\n      user_data: {\n        first_name: $input.first().json.body.first_name, // your customer first_name\n        last_name: $input.first().json.body.last_name, // your customer last_name\n        phone: $input.first().json.body.phone, // your customer phone\n        ip: $input.first().json.body.ip, // your customer IP\n        user_agent: $input.first().json.body.user_agent, // your customer User agent\n        fbp: $input.first().json.body.fbp, // your customer fbp\n        fbc: $input.first().json.body.fbc // your customer fbc\n      },\n      event_time: $input.first().json.body.created_at, // order Date like 2025-06-18T15:24:06.000000Z\n      custom_data: {\n        value: $input.first().json.body.amount, // pricing\n        currency: $input.first().json.body.currency\n      },\n      action_source: \"website\",\n      event_source_url: \"https://example.com/thanks\"\n    }\n  }\n];"
      },
      "id": "63208dd1-6258-4630-9c3b-c8913cf04085",
      "name": "Format data",
      "type": "n8n-nodes-base.code",
      "position": [
        1152,
        560
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Do you need more help or have any suggestions?\nContact me at mediaplus.ma@gmail.com",
        "height": 100,
        "width": 1700,
        "color": 4
      },
      "id": "81bb1144-9e20-41d2-a611-c5f2422cba09",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Just to test",
        "height": 80,
        "width": 700
      },
      "id": "a959b199-3d42-4a97-9c59-17cfa0b48124",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Production",
        "height": 240,
        "width": 200,
        "color": 4
      },
      "id": "541e0afe-1fd4-4c5e-a8e9-d7aa6f0e5832",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-19T03:05:12.346Z",
  "versionId": "63d4494a-676b-474b-b7d7-7afa00715091"
}