workflows/9xPZ9GomGvSKhXs6.json
{
  "active": false,
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "MCP Client for Price Drop Data Extract Within a Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Webhook Notification for Price Drop Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set input fields": {
      "main": [
        [
          {
            "node": "MCP Client for Price Drop Data Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Content": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structure Data Extract Using LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Structure Data Extract Using LLM",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structure Data Extract Using LLM": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bright Data MCP Client List Tools": {
      "main": [
        [
          {
            "node": "Set input fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Summarize Content",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Bright Data MCP Client List Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client for Price Drop Data Extract": {
      "main": [
        [
          {
            "node": "Structure Data Extract Using LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model for Summarize Content": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model for Sentiment Analysis": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client for Price Drop Data Extract Within a Loop": {
      "main": [
        [
          {
            "node": "Summarize Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-19T10:59:05.448Z",
  "id": "9xPZ9GomGvSKhXs6",
  "isArchived": false,
  "meta": {
    "templateId": "4611"
  },
  "name": "Extract, Summarize & Analyze Amazon Price Drops with Bright Data & Google Gemini",
  "nodes": [
    {
      "parameters": {},
      "id": "c05c50b0-410e-428c-b9b9-c300b95b0ce8",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        368,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "e2bef95f-a42a-47f1-b49f-1e18a7a76fc5",
      "name": "Bright Data MCP Client List Tools",
      "type": "n8n-nodes-mcp.mcpClient",
      "position": [
        592,
        928
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ac91db2-9848-40d4-b942-cd7288597ded",
              "name": "price_drop_url",
              "type": "string",
              "value": "https://camelcamelcamel.com/top_drops?t=daily"
            },
            {
              "id": "88826650-2a6f-4d19-8a2f-27b039296a00",
              "name": "webhook_notification_url",
              "type": "string",
              "value": "https://webhook.site/24878284-919d-4d39-bff0-5f36bfae17b6"
            }
          ]
        },
        "options": {}
      },
      "id": "03126e8e-b3ef-4bc1-966f-23050034e717",
      "name": "Set input fields",
      "type": "n8n-nodes-base.set",
      "position": [
        816,
        928
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Disclaimer\nThis template is only available on n8n self-hosted as it's making use of the community node for MCP Client.",
        "height": 140,
        "width": 440,
        "color": 3
      },
      "id": "bb47435e-750a-4767-85bc-8eb1d6af2bc7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## LLM Usages\n\nGoogle Gemini LLM is being utilized for the structured data extraction handling.",
        "height": 240,
        "width": 440,
        "color": 5
      },
      "id": "377c7b92-4660-4130-a668-40752a52705a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Logo\n\n\n![logo](https://images.seeklogo.com/logo-png/43/1/brightdata-logo-png_seeklogo-439974.png)\n",
        "height": 360,
        "width": 440,
        "color": 7
      },
      "id": "45f786b2-e785-4da5-af17-cd048bc93887",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Note\n\nDeals with the extraction of price drop information of ecommerce produce and scraping the site by leveraging the Bright Data MCP Client.\n\nThis workflow is also responsible for the structured data extraction, sentiment analysis and summarization of content.\n\n**Please make sure to set the input fields**",
        "height": 240,
        "width": 440
      },
      "id": "83d52f24-3c6e-4640-9e95-e41c6c9cfa37",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "b0b39697-10e6-4066-8122-40775bb1472b",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1632,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d73bf29c-b80c-47c4-b162-60a53bd4e0e0",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1856,
        928
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "c6e5c79a-2a5b-40ae-a0e5-188d35f75c39",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        2064,
        752
      ],
      "webhookId": "19a19f31-87fa-442c-85b2-472001ac344a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "chunkingMode": "advanced",
        "options": {}
      },
      "id": "fa7525b9-86b0-4646-994f-38b85a00f0d9",
      "name": "Summarize Content",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        2512,
        400
      ],
      "retryOnFail": true,
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "text": "=Perform sentiment analysis of  {{ $json.result.content[0].text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/schema#\",\n  \"title\": \"EcommerceSentimentSubset\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"positive\", \"neutral\", \"negative\"],\n      \"description\": \"Categorized sentiment from NLP analysis\"\n    },\n    \"sentimentScore\": {\n      \"type\": \"number\",\n      \"minimum\": -1,\n      \"maximum\": 1,\n      \"description\": \"Numeric sentiment polarity score (-1 = very negative, 1 = very positive)\"\n    },\n    \"topics\": {\n      \"type\": \"array\",\n      \"description\": \"Key aspects mentioned in the review (e.g., battery, build quality, delivery)\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "id": "1f6dd841-144f-44a7-9220-fd7aaf2090bd",
      "name": "Sentiment Analysis",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        2512,
        912
      ],
      "retryOnFail": true,
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "db2330d2-2490-4822-b5c5-519fecb95c1d",
      "name": "Google Gemini Chat Model for Summarize Content",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        2512,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "b887a1a5-4de1-43bb-b51c-fd218d5ca2e6",
      "name": "Google Gemini Chat Model for Sentiment Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        2592,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "e14757c2-3457-445b-9acf-5391de2d61fc",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2880,
        752
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1a1yb4XSMQ0Vs0Rg2RCwrcIVXwDN3ImXW_4OUebURKZI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a1yb4XSMQ0Vs0Rg2RCwrcIVXwDN3ImXW_4OUebURKZI/edit?usp=drivesdk",
          "cachedResultName": "Pricedrop Info"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gAihQMT8-h8Mpehe9j-xxN4oTTpg8qwToI-I-Eauew/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "output": "={{ $json.data.toJsonString() }}"
          },
          "schema": [
            {
              "id": "output",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "output",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "output"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fc1dc2fd-e407-4e7c-acf8-5d29ebb18956",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3328,
        1008
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "url": "={{ $('Set input fields').item.json.webhook_notification_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "response",
              "value": "={{ $json.data.toJsonString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "65f7cc8e-7776-4712-b131-bc8374fbce20",
      "name": "Webhook Notification for Price Drop Info",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3328,
        752
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "id": "707977ff-cdfb-4020-86f4-5d0be44ee52f",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1232,
        1168
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "[{\n\"id\": \"unique_id\",\n\"title\": \n\"Atosa MBF8005GR 52″ Reach-In Refrigerator for Restaurant Deli Cafeteria Steak House | Top Mount Compressor, 43.2 Cu. Ft. | 2-Solid Swing Door, 6 Adjustable Epoxy Coated Shelves | Stainless Steel, 115v\",\n\"price\": \n\"$2,919.48\",\n\"savings\": \n\"Save 18% ($649.36)\",\n\"link\": \n\"https://camelcamelcamel.com/product/07BH0Y75B4KUYI1YP78IB/go?context=top%5Fdrops&ctx%5Fpid=94751977&ctx%5Fcid=-1&ctx%5Faid=-1&ctx%5Fact=buy&ctx%5Fsrc=buy-button&&sjc=1\"\n}]"
      },
      "id": "bbc02162-176f-4131-9f63-d5e39fb52b9b",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1456,
        1168
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract structured data from  {{ $json.result.content[0].text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "fd27eb98-e1ec-4747-9aeb-c0bf491e057a",
      "name": "Structure Data Extract Using LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1248,
        928
      ],
      "retryOnFail": true,
      "typeVersion": 1.7
    },
    {
      "parameters": {},
      "id": "6a0bc566-2eb8-4eea-bf11-d040f352fbf7",
      "name": "MCP Client for Price Drop Data Extract",
      "type": "n8n-nodes-mcp.mcpClient",
      "position": [
        1040,
        928
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "22d7cba2-5d8f-4e2a-8d99-e1dd2b232fd3",
      "name": "MCP Client for Price Drop Data Extract Within a Loop",
      "type": "n8n-nodes-mcp.mcpClient",
      "position": [
        2288,
        752
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "1ccf68b1-ab0c-4288-8892-f6736639f952",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        3104,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 5000,
        "options": {}
      },
      "id": "cf8bdb20-18e5-4d29-b582-65b2b9c7aa32",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        2720,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Output Data Handling ",
        "height": 640,
        "width": 560,
        "color": 5
      },
      "id": "3207d699-e620-4324-b71e-29aec2ffaf9a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Loop and Extract Data\n\nPerform Summarization & Sentiment Analysis",
        "height": 980,
        "width": 1080,
        "color": 4
      },
      "id": "26874b27-2d9e-4564-ade2-87f236b250e0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        320
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-19T10:59:05.448Z",
  "versionId": "20a8dfc7-16ce-4077-98e5-148c205297d7"
}