workflows/dMHVWIpw2tgVcvSE.json
{
  "active": false,
  "connections": {
    "Set URL": {
      "main": [
        [
          {
            "node": "Fetch Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Date": {
      "main": [
        [
          {
            "node": "Create RSS Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Link": {
      "main": [
        [
          {
            "node": "Format Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Posts": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website": {
      "main": [
        [
          {
            "node": "Extract Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Complete Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create RSS Items": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Set URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-19T10:15:33.797Z",
  "id": "dMHVWIpw2tgVcvSE",
  "isArchived": false,
  "meta": {
    "templateId": "1418"
  },
  "name": "Create an RSS feed based on a website's content",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        368,
        448
      ],
      "typeVersion": 1,
      "id": "6f2d6a53-c25d-418f-947d-7f31c60a57e4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "post",
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        1248,
        448
      ],
      "typeVersion": 1,
      "id": "84f01ef0-d080-4d18-9682-f4d6ecfe7811"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "post",
              "cssSelector": ".blog-listing__post-content",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Posts",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1040,
        448
      ],
      "typeVersion": 1,
      "id": "8c7492dd-5d5a-425c-8c5d-4c4262d3bb07"
    },
    {
      "parameters": {
        "url": "={{$json[\"base_domain\"]}}/blog/category/release",
        "responseFormat": "string",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        816,
        448
      ],
      "typeVersion": 1,
      "id": "be733af6-4a67-4889-8a55-2de1f11522d8"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "base_domain",
              "value": "https://baserow.io"
            }
          ]
        },
        "options": {}
      },
      "name": "Set URL",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        448
      ],
      "typeVersion": 1,
      "id": "b8e19875-4dce-40bd-945d-62802efbdc7d"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "link",
              "value": "={{$item(0).$node[\"Set URL\"].json[\"base_domain\"]}}{{$json[\"link\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Complete Link",
      "type": "n8n-nodes-base.set",
      "position": [
        368,
        640
      ],
      "typeVersion": 1,
      "id": "3a77d5f6-3276-486a-bca5-b8ad6f8b1faf"
    },
    {
      "parameters": {
        "value": "={{$json[\"date\"]}}",
        "dataPropertyName": "date",
        "toFormat": "YYYY-MM-DD",
        "options": {}
      },
      "name": "Format Date",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        592,
        640
      ],
      "typeVersion": 1,
      "id": "6fb4ed7b-8457-44f9-a6ff-70884ff29ce1"
    },
    {
      "parameters": {
        "functionCode": "return {\n  rss_item: \n`<item>\n  <title>${item.title}</title>\n  <link>${item.link}</link>\n  <description>${item.description}</description>\n  <pubDate>${item.date}</pubDate>\n</item>`\n}"
      },
      "name": "Create RSS Items",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        816,
        640
      ],
      "typeVersion": 1,
      "id": "f42e2c62-6b3c-42ab-80ab-dbda7abe60f1"
    },
    {
      "parameters": {
        "path": "baserow-releases",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        368,
        240
      ],
      "webhookId": "27c1e4db-568f-4bf9-9474-0898ce1173f7",
      "typeVersion": 1,
      "id": "165ac59f-9052-4156-82fb-f7a3a1d90d26"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json[\"feed\"]}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "application/xml"
              }
            ]
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1248,
        640
      ],
      "typeVersion": 1,
      "id": "29e75a09-8e69-4c63-afef-c6f083736833"
    },
    {
      "parameters": {
        "functionCode": "let feed =\n`<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<rss version=\"2.0\">\n\n<channel>\n  <title>Baserow Releases</title>\n  <link>https://baserow.io/blog/category/release</link>\n  <description>Stay up to date with the latest changes and updates of Baserow</description>\n  ${items.map(e => e.json.rss_item).join('\\n')}\n</channel>\n\n</rss>`;\n\nreturn [{\n  json: {\n    feed: feed\n  }\n}];"
      },
      "name": "Prepare Response",
      "type": "n8n-nodes-base.function",
      "position": [
        1040,
        640
      ],
      "typeVersion": 1,
      "id": "63af161f-4848-463c-bb99-851b22b997a8"
    },
    {
      "parameters": {
        "dataPropertyName": "post",
        "extractionValues": {
          "values": [
            {
              "key": "date",
              "cssSelector": ".blog-listing__post-info > strong"
            },
            {
              "key": "title",
              "cssSelector": ".blog-listing__post-title"
            },
            {
              "key": "link",
              "cssSelector": ".blog-listing__post-title > a",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "description",
              "cssSelector": ".blog-listing__post-description"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Fields",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1472,
        448
      ],
      "typeVersion": 1,
      "id": "a2876d25-c16a-4ac8-bff3-e4b0ebec69d7"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-19T10:15:33.797Z",
  "versionId": "666b00c5-636d-4de5-949e-af2ee9d9c0b3"
}