workflows/HrDBqi8CZ2OH1fH7.json
{
  "active": false,
  "connections": {
    "Wait For Response": {
      "main": [
        [
          {
            "node": "Check If Table Booking Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Customer Query": {
      "main": [
        [
          {
            "node": "Wait For Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reply with AI": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Customer Query",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create New Table Booking": {
      "main": [
        [
          {
            "node": "Send Booking Confirmation to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive WhatsApp Message": {
      "main": [
        [
          {
            "node": "Extract Customer Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Table Booking Required": {
      "main": [
        [
          {
            "node": "Create New Table Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reply to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-27T10:27:22.373Z",
  "id": "HrDBqi8CZ2OH1fH7",
  "isArchived": false,
  "meta": {
    "templateId": "5881"
  },
  "name": "Automate Restaurant Customer Service with WhatsApp and Llama AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "content": "## This workflow powers a WhatsApp chatbot that answers customer questions about restaurant timing, menu, booking, services, and offers.\n\n## It uses a chat model (LLM) to understand queries and respond clearly via WhatsApp.\n\n",
        "width": 1000
      },
      "id": "2990c149-51a8-4fa8-a9a6-2fe4c4e42b72",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "550325331503475",
        "recipientPhoneNumber": "={{ $('Receive WhatsApp Message').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "32a367b4-c14d-47f8-9ba1-483772e30564",
      "name": "Send Reply to Customer",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1232,
        720
      ],
      "webhookId": "a607994c-4e44-4d84-8d8c-725cd4cd903e",
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "44c64110-9c14-411b-9e12-9843510696d2",
      "name": "Wait For Response",
      "type": "n8n-nodes-base.wait",
      "position": [
        784,
        624
      ],
      "webhookId": "d9c5d69c-2dfa-4b9f-89f5-76f25d0dd241",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "3021f85b-00af-417b-8022-dc5f717e4ab7",
      "name": "Receive WhatsApp Message",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        192,
        624
      ],
      "webhookId": "62614db0-4088-41be-a329-fc9ca989ca81",
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=**You are a helpful and friendly WhatsApp chatbot for a restaurant.**\nWhen a customer sends a message, greet them politely and provide clear, short replies to their questions about:\n\n* Restaurant timings (opening/closing hours)\n* Table booking or reservation availability\n* Menu items (food types, popular dishes, specials)\n* Restaurant location or directions\n* Services offered (dine-in, takeaway, delivery)\n* Pricing and current offers\n* Confirming or cancelling a reservation\n\nIf the customer asks something unrelated to the restaurant, reply:\n🟢 *“I’m here to help with restaurant-related questions. Would you like to know our timings, menu, or book a table?”*\n\nIf a message is unclear or incomplete, respond with:\n🟢 *“Could you please clarify your question so I can assist you better?”*\n\nAlways keep the conversation short, polite, and informative.\n\n"
        }
      },
      "id": "34cf3695-d559-43ab-b720-e419c1094aee",
      "name": "Extract Customer Query",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        416,
        624
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "model": "llama3.2-16000:latest",
        "options": {}
      },
      "id": "92c21a3b-01ad-4ec7-97e2-e5816f23ff81",
      "name": "Generate Reply with AI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        496,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0282b709-8b08-4831-ab40-5725db7d6034",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "Booking",
              "rightValue": "add_your_value_here"
            }
          ]
        },
        "options": {}
      },
      "id": "dd5381b8-337a-4b60-857c-4c84b682edd6",
      "name": "Check If Table Booking Required",
      "type": "n8n-nodes-base.if",
      "position": [
        1008,
        624
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "id"
        },
        "columns": {
          "value": {},
          "schema": [],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6fd96474-c7b2-444c-9f9e-960f6897a76d",
      "name": "Create New Table Booking",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1232,
        528
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "550325331503475",
        "recipientPhoneNumber": "={{ $('Receive WhatsApp Message').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "f5a58ce9-c39e-40bf-989a-328e8e1a67b3",
      "name": "Send Booking Confirmation to Customer",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1456,
        528
      ],
      "webhookId": "a607994c-4e44-4d84-8d8c-725cd4cd903e",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-27T10:27:22.373Z",
  "versionId": "1b594807-d266-4910-8f44-88531893a81c"
}