workflows/K4TIBcHK5fhuGyV6.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Set Application Details1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Code Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/login": {
      "main": [
        [
          {
            "node": "Set Application Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/receive-token": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Access Token": {
      "main": [
        [
          {
            "node": "Get Userinfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Application Details": {
      "main": [
        [
          {
            "node": "Open Auth Webpage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Application Details1": {
      "main": [
        [
          {
            "node": "Request Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-19T01:42:20.102Z",
  "id": "K4TIBcHK5fhuGyV6",
  "isArchived": false,
  "meta": {
    "templateId": "2408"
  },
  "name": "User verification and login using Auth0",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.domain }}/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"grant_type\": \"authorization_code\",\n  \"code\": \"{{ $json.query.code }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"client_secret\": \"{{ $json.client_secret }}\",\n  \"redirect_uri\": \"{{ $json.my_server }}\",\n  \"audience\": \"{{ $json.domain }}/api/v2/\"\n}",
        "options": {}
      },
      "id": "25022573-c99e-40d2-88e2-a0e7a9780181",
      "name": "Request Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1552,
        1024
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $('Set Application Details1').item.json.domain }}/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "233d69ed-d835-4022-815e-e786706ec78a",
      "name": "Get Userinfo",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1792,
        1024
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "fa80ac35-7029-4507-b5ea-845bec07b672",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{$json.query.code}}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "860e8a20-f6a3-4c8e-be71-361e6f1f8641",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1008,
        1024
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "errorMessage": "Couldn't get authorization code!"
      },
      "id": "7c4e15c7-2ee0-4c54-8255-e7cc250e718a",
      "name": "No Code Found",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        1168,
        1248
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "={{ $json.domain }}/authorize?response_type=code&scope=openid+email+profile+image+name&client_id={{ $json.client_id }}&redirect_uri={{ $json.my_server }}/webhook/receive-token",
        "options": {}
      },
      "id": "2e0b2ff5-47ce-4199-bdd2-e31a4d32fd15",
      "name": "Open Auth Webpage",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1312,
        752
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "### You can also add   &connection=github to end of authorize URL in order to get user to login via Github, Facebook, etc",
        "height": 140.50170983348636,
        "width": 238.05017098334866,
        "color": 6
      },
      "id": "d790ce47-725a-4a69-b66f-f7e80e2d9e5e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "003d523a-5e14-4a5a-aed6-f72c3fce6e6d",
              "name": "domain",
              "type": "string",
              "value": ""
            },
            {
              "id": "7db513f3-55f6-4bab-92b0-e62d0b7f05a1",
              "name": "client_id",
              "type": "string",
              "value": ""
            },
            {
              "id": "52da7d5d-6683-4cf9-a7de-c2ab2ce48f3d",
              "name": "my_server",
              "type": "string",
              "value": ""
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1c5bb01a-0fed-4783-b18d-d8f7e818371c",
      "name": "Set Application Details",
      "type": "n8n-nodes-base.set",
      "position": [
        1072,
        752
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## 1. First, go to https://auth0.com and create a Single Page Application. From Dashboard/Applications, click on your new app settings. The first step is to add the following to allowed callback URLs:\nhttp://localhost:5678, http://localhost:5678/webhook/receive-token \n\n### (If you do not run n8n locally, replace localhost with your server where you run n8n. You must also replace it in **Set Application Details** 'my_server' field)\n\n## From the same settings page,  retrieve the Domain, Client_ID, and Client_Secret of your application.",
        "height": 397.87914003146636,
        "width": 623.7263504769883,
        "color": 5
      },
      "id": "8ced9fb6-fd49-4d57-8d74-b04e45b6c216",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### This step will return the authentication page to the user and let him login using gmail or by creating a new account.",
        "height": 107.35461655041311,
        "width": 437.4336297478876,
        "color": 6
      },
      "id": "94155312-1230-4c13-9104-5e26a6f68e91",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 1: Authentication\n",
        "height": 256.53228919365705,
        "width": 1296.8510714753793
      },
      "id": "9a7bcabf-1cc0-43e5-8f52-cc3f2781150f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 2: Get Access Token\n",
        "height": 444.78164181462137,
        "width": 1302.371850917427
      },
      "id": "7e7560d6-4c26-4e80-ad62-07a674e928f9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### If Step 1 was successful, Auth0 will automatically call Step 2 in its callback with a code. This code is used to generate an access token which can verify the user is legitimate and email verified.",
        "height": 144.40136786678917,
        "width": 327.74230574931124,
        "color": 6
      },
      "id": "97c8bc77-bc7d-4be2-9858-668c5e325f49",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "003d523a-5e14-4a5a-aed6-f72c3fce6e6d",
              "name": "domain",
              "type": "string",
              "value": ""
            },
            {
              "id": "7db513f3-55f6-4bab-92b0-e62d0b7f05a1",
              "name": "client_id",
              "type": "string",
              "value": ""
            },
            {
              "id": "52da7d5d-6683-4cf9-a7de-c2ab2ce48f3d",
              "name": "my_server",
              "type": "string",
              "value": ""
            },
            {
              "id": "d339dd3d-ed57-4b0f-81c6-a8f5f7c474fb",
              "name": "client_secret",
              "type": "string",
              "value": ""
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "fe103ba1-8143-482c-846f-0f381ca2661a",
      "name": "Set Application Details1",
      "type": "n8n-nodes-base.set",
      "position": [
        1296,
        1024
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b3bb59b8-16fc-483d-ae8d-ec3e65c3326d",
      "name": "/login",
      "type": "n8n-nodes-base.webhook",
      "position": [
        832,
        752
      ],
      "webhookId": "046e2370-0ae1-4d64-be9b-cbb0545de323",
      "typeVersion": 2
    },
    {
      "parameters": {
        "path": "receive-token",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "79825832-6d06-4a48-aa0a-bad3d52ab2c1",
      "name": "/receive-token",
      "type": "n8n-nodes-base.webhook",
      "position": [
        832,
        1024
      ],
      "webhookId": "7bd9ea5a-c354-41c0-9d17-4a02ca8e3055",
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## 2. Fill in Set Application Details and Set Application Details1\n\n## 3. **Login from https://<n8n server address>/webhook/login!**",
        "height": 393.48225931142105,
        "width": 426.62126002791706,
        "color": 5
      },
      "id": "b9406ef0-3567-46da-9989-d7f458ad73fb",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-19T01:42:20.102Z",
  "versionId": "67a4126c-b1ea-4514-9519-e02abeb91a0a"
}