workflows/L0RXYs3PpSOCkIvW.json
{
  "active": false,
  "connections": {
    "🟩 Form Trigger": {
      "main": [
        [
          {
            "node": "🚀 Trigger Scraping1 (HTTP Request to Bright Data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🕐 Wait 1 minute1": {
      "main": [
        [
          {
            "node": "🟢 Check Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🟢 Check Final Status": {
      "main": [
        [
          {
            "node": "🔽 final data given (Snapshot Fetch)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🟡 Check Delivery Status of Snap ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Generate Chart Payload": {
      "main": [
        [
          {
            "node": "🌐 Generate PNG from Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Generate PNG from Chart": {
      "main": [
        [
          {
            "node": "📤 Send Chart on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Filtered Output & Save to Sheet": {
      "main": [
        [
          {
            "node": "🧮 Generate Chart Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔽 final data given (Snapshot Fetch)": {
      "main": [
        [
          {
            "node": "📊 Filtered Output & Save to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🟡 Check Delivery Status of Snap ID1": {
      "main": [
        [
          {
            "node": "🕐 Wait 1 minute1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Trigger Scraping1 (HTTP Request to Bright Data)": {
      "main": [
        [
          {
            "node": "🟡 Check Delivery Status of Snap ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-27T10:23:44.505Z",
  "id": "L0RXYs3PpSOCkIvW",
  "isArchived": false,
  "meta": {
    "templateId": "6489"
  },
  "name": "Extract Market Cap Data from Yahoo Finance with Bright Data & Visualize in Telegram",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Yahoo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "keyword"
            }
          ]
        },
        "options": {}
      },
      "id": "7cebf294-ed28-4cce-935f-8182c953aa5d",
      "name": "🟩 Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        416,
        400
      ],
      "webhookId": "92772d3e-a1e1-4912-996a-7e799f129fb8",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brightdata.com/datasets/v3/trigger",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataset_id",
              "value": "gd_lmrpz3vxmz972ghd7"
            },
            {
              "name": "include_errors",
              "value": "true"
            },
            {
              "name": "type",
              "value": "discover_new"
            },
            {
              "name": "discover_by",
              "value": "keyword"
            },
            {
              "name": "limit_per_input",
              "value": "2"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer BRIGHT_DATA_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"keyword\": \"{{ $json.keyword }}\"\n  } \n]",
        "options": {}
      },
      "id": "21b115c8-d3a7-4c6e-b3af-aab2e2c7f7d1",
      "name": "🚀 Trigger Scraping1 (HTTP Request to Bright Data)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        672,
        400
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "🟩 Form Trigger (On form submission1)\n➤ User form se keyword deta hai (e.g. \"AI\", \"Crypto\", \"MSFT\")\n\n🚀 Trigger Scraping1 (HTTP Request to Bright Data)\n➤ Bright Data API ko call karta hai:\n➤ discover_by: keyword, type: discover_new\n➤ Dataset ID: gd_lmrpz3vxmz972ghd7",
        "height": 368,
        "width": 448,
        "color": 7
      },
      "id": "75b8a695-9ad8-4d55-8cee-e6ebfda0defd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "db304f8b-91e1-4d33-acc9-0ba8351160da",
      "name": "🕐 Wait 1 minute1",
      "type": "n8n-nodes-base.wait",
      "position": [
        1136,
        400
      ],
      "webhookId": "10b45556-5e91-4387-abd0-f9078b220286",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://api.brightdata.com/datasets/v3/progress/{{ $json.snapshot_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer BRIGHT_DATA_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "c0a0422f-a712-4be9-b46d-c35e6b5956ce",
      "name": "🟡 Check Delivery Status of Snap ID1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        896,
        400
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "35ed620d-b5d5-4e97-bcc5-52b283d85616",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready"
            }
          ]
        },
        "options": {}
      },
      "id": "a23cf845-6bff-4a40-a87f-5d0bac918acc",
      "name": "🟢 Check Final Status",
      "type": "n8n-nodes-base.if",
      "position": [
        1376,
        400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://api.brightdata.com/datasets/v3/snapshot/{{ $json.snapshot_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer BRIGHT_DATA_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "4d719ca5-ae7f-44b2-8b63-ed8a729ebbbb",
      "name": "🔽 final data given (Snapshot Fetch)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1616,
        384
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "⏳ Zone 2: Monitor & Fetch Results\n(Sticky Name: ⏱️ Scraping Monitor & Result Pull)\n\nIncludes:\n\nWait Node – 1 minute delay for job completion\n\nStatus Check Node – Check if status == \"ready\"\n\nIF Node – Loop or continue\n\nSnapshot API – Pull final result",
        "height": 464,
        "width": 688,
        "color": 3
      },
      "id": "6efc936b-cfa4-431f-81a0-fd6536bd3072",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit?gid=0#gid=0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "ask": "={{ $json.ask }}",
            "bid": "={{ $json.bid }}",
            "eps": "={{ $json.eps }}",
            "url": "={{ $json.url }}",
            "beta": "={{ $json.pe_ratio }}",
            "name": "={{ $json.name }}",
            "open": "={{ $json.open }}",
            "input": "={{ $json.input }}",
            "volume": "={{ $json.volume }}",
            "similar": "={{ $json.similar }}",
            "summary": "={{ $json.summary }}",
            "currency": "={{ $json.currency }}",
            "exchange": "={{ $json.exchange }}",
            "day_range": "={{ $json.day_range }}",
            "eps_trend": "={{ $json.eps_trend }}",
            "timestamp": "={{ $json.timestamp }}",
            "avg_volume": "={{ $json.avg_volume }}",
            "company_id": "={{ $json.company_id }}",
            "financials": "={{ $json.financials }}",
            "market_cap": "={{ $json.market_cap }}",
            "target_est": "={{ $json.target_est }}",
            "week_range": "={{ $json.week_range }}",
            "entity_type": "={{ $json.entity_type }}",
            "recent_news": "={{ $json.recent_news }}",
            "stock_ticker": "={{ $json.stock_ticker }}",
            "top_analysts": "={{ $json.top_analysts }}",
            "closing_price": "={{ $json.closing_price }}",
            "earnings_date": "={{ $json.earnings_date }}",
            "eps_revisions": "={{ $json.eps_revisions }}",
            "dividend_yield": "={{ $json.dividend_yield }}",
            "previous_close": "={{ $json.previous_close }}",
            "discovery_input": "={{ $json.discovery_input }}",
            "earnings_history": "={{ $json.earnings_history }}",
            "growth_estimates": "={{ $json.growth_estimates }}",
            "revenue_estimate": "={{ $json.revenue_estimate }}",
            "earnings_estimate": "={{ $json.earnings_estimate }}",
            "people_also_watch": "={{ $json.people_also_watch }}",
            "fanacials_currency": "={{ $json.fanacials_currency }}",
            "stock_market_index": "={{ $json.stock_market_index }}",
            "analyst_price_target": "={{ $json.analyst_price_target }}",
            "financials_quarterly": "={{ $json.financials_quarterly }}",
            "company_profile_phone": "={{ $json.company_profile_phone }}",
            "company_profile_sector": "={{ $json.company_profile_sector }}",
            "company_profile_address": "={{ $json.company_profile_address }}",
            "company_profile_website": "={{ $json.company_profile_website }}",
            "upgrades_and_downgrades": "={{ $json.upgrades_and_downgrades }}",
            "company_profile_industry": "={{ $json.company_profile_industry }}",
            "company_profile_employees": "={{ $json.company_profile_key_executives }}",
            "company_profile_description": "={{ $json.company_profile_description }}",
            "company_profile_key_executives": "={{ $json.company_profile_key_executives }}"
          },
          "schema": [
            {
              "id": "name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "438a38f6-c401-4b75-94c6-e15992a97e76",
      "name": "📊 Filtered Output & Save to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1840,
        384
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "content": "📊 Zone 3: Filter & Output\n(Sticky Name: 📊 Filtered Output & Save to Sheet)\n\nIncludes:\n\nOptional IF Node – Market Cap > $1B\n\nCode Node – Format complex arrays to human readable\n\nGoogle Sheets Node – Append data to final sheet\n\n",
        "height": 480,
        "width": 432,
        "color": 4
      },
      "id": "eb1997f3-3a09-417b-9ea6-86861ec5c1df",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const itemsOut = [];\n\nconst labels = [];\nconst data = [];\n\nfor (const item of items) {\n  const name = item.json.name;\n  let cap = item.json.market_cap;\n  if (cap === undefined || cap === null) cap = \"0\";\n  cap = String(cap);\n\n  let value = 0;\n  if (cap.includes(\"T\")) value = parseFloat(cap) * 1e12;\n  else if (cap.includes(\"B\")) value = parseFloat(cap) * 1e9;\n  else if (cap.includes(\"M\")) value = parseFloat(cap) * 1e6;\n  else value = parseFloat(cap);\n\n  labels.push(name);\n  data.push(Math.round(value / 1e9));\n}\n\nconst chartPayload = {\n  type: 'bar',\n  data: {\n    labels,\n    datasets: [{\n      label: 'Market Cap (in Billion $)',\n      data,\n      backgroundColor: [\n        'rgba(75, 192, 192, 0.8)',\n        'rgba(153, 102, 255, 0.8)',\n        'rgba(255, 159, 64, 0.8)',\n        'rgba(255, 99, 132, 0.8)',\n        'rgba(54, 162, 235, 0.8)',\n        'rgba(201, 203, 207, 0.8)'\n      ],\n      borderColor: 'rgba(0,0,0,0.1)',\n      borderWidth: 1\n    }]\n  },\n  options: {\n    indexAxis: 'y',\n    responsive: true,\n    plugins: {\n      legend: {\n        display: false\n      },\n      title: {\n        display: true,\n        text: '📊 Company Market Cap Overview',\n        font: {\n          size: 20\n        },\n        padding: {\n          top: 10,\n          bottom: 20\n        }\n      },\n      tooltip: {\n        callbacks: {\n          label: function(context) {\n            return context.dataset.label + ': $' + context.raw + 'B';\n          }\n        }\n      }\n    },\n    scales: {\n      x: {\n        title: {\n          display: true,\n          text: 'Market Cap (in Billions $)'\n        },\n        grid: {\n          display: true\n        }\n      },\n      y: {\n        ticks: {\n          font: {\n            size: 12\n          }\n        }\n      }\n    }\n  }\n};\n\nitemsOut.push({ json: { chart: chartPayload } });\nreturn itemsOut;"
      },
      "id": "87619346-06ed-4311-a7e0-bcb82f554aca",
      "name": "🧮 Generate Chart Payload",
      "type": "n8n-nodes-base.code",
      "position": [
        2096,
        384
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://quickchart.io/chart?c={{ JSON.stringify($json.chart) }}",
        "options": {}
      },
      "id": "a4c79ae7-ef35-4509-91f5-71107fcfee20",
      "name": "🌐 Generate PNG from Chart",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2304,
        384
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "405f8c35-7747-442b-a14f-898a2b366d0e",
      "name": "📤 Send Chart on Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2512,
        384
      ],
      "webhookId": "d7190374-fdad-4ccd-ab58-77794a247fb1",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "1.🧮 Generate Chart Payload (Code Node)\nPrepare chart data (labels + values) for market cap in billions using QuickChart format.\n\n2.🌐 Generate PNG from Chart (HTTP Request Node)\nPurpose: Use QuickChart.io API to generate PNG image from chart JSON.\n\n3.📤 Send Chart on Telegram (Telegram Node)\nPurpose: Send chart image with caption to client/group.",
        "height": 480,
        "width": 624
      },
      "id": "01b96865-6ae1-43d8-962d-2a7141f9254f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        128
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-27T10:23:44.505Z",
  "versionId": "0898c636-d2c9-4ce3-bfbb-c61e033c8553"
}