workflows/o8XQQA1myHyIBZK0.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Accounts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Accounts1": {
      "main": [
        [
          {
            "node": "Get instrument SPY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get instrument SPY": {
      "main": [
        [
          {
            "node": "Get instrument SPY JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get instrument SPY JSON": {
      "main": [
        [
          {
            "node": "Get option expirations SPY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get option expirations SPY": {
      "main": [
        [
          {
            "node": "Get option expirations SPY JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get option expirations SPY JSON": {
      "main": [
        [
          {
            "node": "Get option chain SPY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get option chain SPY": {
      "main": [
        [
          {
            "node": "Get option chain SPY JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get option chain SPY JSON": {
      "main": [
        [
          {
            "node": "Get option greeks SPY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get option greeks SPY": {
      "main": [
        [
          {
            "node": "Get option greeks SPY JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get option greeks SPY JSON": {
      "main": [
        [
          {
            "node": "Get quotes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get quotes1": {
      "main": [
        [
          {
            "node": "Get option chain SPY JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get option chain SPY JSON1": {
      "main": [
        [
          {
            "node": "Preflight multi leg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preflight multi leg1": {
      "main": [
        [
          {
            "node": "Get option chain SPY JSON2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get option chain SPY JSON2": {
      "main": [
        [
          {
            "node": "Place multileg order1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Place multileg order1": {
      "main": [
        [
          {
            "node": "Get option chain SPY JSON3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get option chain SPY JSON3": {
      "main": [
        [
          {
            "node": "Get order1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get order1": {
      "main": [
        [
          {
            "node": "Get option chain SPY JSON4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get option chain SPY JSON4": {
      "main": [
        [
          {
            "node": "Cancel order1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel order1": {
      "main": [
        [
          {
            "node": "Get option chain SPY JSON5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-30T07:55:17.772Z",
  "id": "o8XQQA1myHyIBZK0",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SPY - Public",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3632,
        -1600
      ],
      "id": "bbef2893-f91d-43c9-981a-33933ae65827",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/create_personal_access_token.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6448,
        304
      ],
      "id": "55daab14-0c4d-47cc-a97a-4baae6acc94f",
      "name": "Personal Access Token"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_accounts.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6448,
        528
      ],
      "id": "5b23dbe3-130e-4991-a396-e43764d6120b",
      "name": "Get Accounts"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_account_portfolio_v2.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6448,
        752
      ],
      "id": "01d98b15-acfd-402e-af30-a3069cb234cd",
      "name": "Get account portfolio v2"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_history.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6448,
        976
      ],
      "id": "9516b87b-cef2-4330-ba3b-43593c52a5d9",
      "name": "Get history"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_all_instruments.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6448,
        1200
      ],
      "id": "c97e9805-69c6-479d-8843-8b2b776c2a4e",
      "name": "Get all instruments"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_instrument.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6448,
        1424
      ],
      "id": "75d53607-d4d1-4929-8933-652b3c946425",
      "name": "Get instrument"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_quotes.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6064,
        304
      ],
      "id": "d5089937-9c32-4fc8-9053-906900204a9d",
      "name": "Get quotes"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_option_expirations.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6064,
        528
      ],
      "id": "b808c2b6-acc7-497f-bb92-6e4db149ebee",
      "name": "Get option expirations"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_option_chain.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6064,
        752
      ],
      "id": "f3c6aa4b-25e8-4400-8d6b-cf9fa253af71",
      "name": "Get option chain"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/preflight_single_leg.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6064,
        976
      ],
      "id": "90e2ae76-75ee-47be-9cd8-c4f1a9919c08",
      "name": "Preflight single leg"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/preflight_multi_leg.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6064,
        1200
      ],
      "id": "6a20c6bf-06c9-4d97-96d7-06c5589feb5c",
      "name": "Preflight multi leg"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/place_order.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6064,
        1424
      ],
      "id": "7eac9190-345b-459c-b6c7-85ca7252c82b",
      "name": "Place order"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/place_multileg_order.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6064,
        1648
      ],
      "id": "25f473d2-3a31-4905-a5e9-f2edaae25a35",
      "name": "Place multileg order"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_order.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6064,
        1872
      ],
      "id": "1f44396b-4d02-4c8a-88f0-f92d29fef878",
      "name": "Get order"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/cancel_order.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6064,
        2096
      ],
      "id": "7bc0ca6a-6545-416e-8eda-0a5eb4b85d2c",
      "name": "Cancel order"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_option_greeks.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6064,
        2320
      ],
      "id": "e5f56332-3391-40e1-95cb-a2d142189a62",
      "name": "Get option greeks"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/create_personal_access_token.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -3632,
        -1760
      ],
      "id": "a42cb69d-c208-45be-bfa8-9a62c6831ab2",
      "name": "Personal Access Token1"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_accounts.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -3440,
        -1600
      ],
      "id": "92fa7805-597b-4377-98b1-be20785aa6ec",
      "name": "Get Accounts1"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_quotes.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -3136,
        -1008
      ],
      "id": "40fa31b4-36a0-46a2-8ac8-ff8b772dcb43",
      "name": "Get quotes1"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/preflight_multi_leg.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2688,
        -1008
      ],
      "id": "e03b7319-a8b9-48ea-af12-985d44c28483",
      "name": "Preflight multi leg1"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/place_multileg_order.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2240,
        -1008
      ],
      "id": "23ba5ec5-955e-4e1a-a276-cc6871e528ec",
      "name": "Place multileg order1"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_order.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -3120,
        -752
      ],
      "id": "452fe92f-81e6-46dd-a2b4-cef8500ced14",
      "name": "Get order1"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/cancel_order.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2672,
        -752
      ],
      "id": "36c3bf63-fb4b-433d-8a9c-650c3fce7212",
      "name": "Cancel order1"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_instrument.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -3168,
        -1328
      ],
      "id": "41bf4e93-5a23-44c1-b488-0e6a3caad264",
      "name": "Get instrument SPY"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json[\"stdout\"]);\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2944,
        -1328
      ],
      "id": "e3562cd2-2116-43be-b686-f12c920dbd57",
      "name": "Get instrument SPY JSON"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_option_expirations.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2720,
        -1328
      ],
      "id": "93241d98-4604-49ab-b957-6a84979be1d0",
      "name": "Get option expirations SPY"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json[\"stdout\"]);\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2496,
        -1328
      ],
      "id": "22548a95-3a0c-4f39-9750-b032e78de443",
      "name": "Get option expirations SPY JSON"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_option_chain.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2272,
        -1328
      ],
      "id": "0180949f-dcf3-43a8-b4e5-4fc547c486ea",
      "name": "Get option chain SPY"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json[\"stdout\"]);\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        -1328
      ],
      "id": "cea46258-1638-442a-b780-5a4739e6f793",
      "name": "Get option chain SPY JSON"
    },
    {
      "parameters": {
        "command": "python3 /files/alpaca-py/customalpaca_py/PublicPy/get_option_greeks.py"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1824,
        -1328
      ],
      "id": "0a25c425-b34b-4682-aeef-52445d8d675a",
      "name": "Get option greeks SPY"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json[\"stdout\"]);\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        -1328
      ],
      "id": "85d3eb0c-8ec3-4d9f-9a09-df896a324818",
      "name": "Get option greeks SPY JSON"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json[\"stdout\"]);\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        -1008
      ],
      "id": "678129d9-d100-41d6-9841-4f510787fe23",
      "name": "Get option chain SPY JSON1"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json[\"stdout\"]);\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2464,
        -1008
      ],
      "id": "08694d45-3f2d-4fec-a96c-35bf01bcd3a6",
      "name": "Get option chain SPY JSON2"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json[\"stdout\"]);\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        -1008
      ],
      "id": "9a8edecc-4ab9-4850-b142-300ca782de36",
      "name": "Get option chain SPY JSON3"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json[\"stdout\"]);\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2896,
        -752
      ],
      "id": "be35c05c-16ee-40fb-81f8-9f26afb83c84",
      "name": "Get option chain SPY JSON4"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json[\"stdout\"]);\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2448,
        -752
      ],
      "id": "4c14c270-5953-4d2e-9891-b019bf398c0c",
      "name": "Get option chain SPY JSON5"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ],
    "Personal Access Token": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Get Accounts": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Get account portfolio v2": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Get history": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Get all instruments": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Get instrument": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Get quotes": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Get option expirations": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Get option chain": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Preflight single leg": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Place order": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Place multileg order": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Personal Access Token1": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Get Accounts1": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Get quotes1": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Place multileg order1": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Get instrument SPY": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Get instrument SPY JSON": [
      {
        "json": {
          "symbol": "SPY",
          "ask_price": 636.82,
          "bid_price": 636.78,
          "ask_size": 15,
          "bid_size": 15
        }
      }
    ],
    "Get option expirations SPY": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ],
    "Get option chain SPY": [
      {
        "json": {
          "exitCode": 0,
          "stderr": "",
          "stdout": ""
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-30T08:47:19.000Z",
  "versionId": "ce9331a4-640d-4a06-8d1a-74a08e6f1348"
}