workflows/pchcgPWc6mZrgUto.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Wait 15 secs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Wait 30 Secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Results": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15 secs": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Secs": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-19T03:09:59.861Z",
  "id": "pchcgPWc6mZrgUto",
  "isArchived": false,
  "meta": {
    "templateId": "4509"
  },
  "name": "🏛️ Daily US Congress Members Stock Trades Report via Firecrawl + OpenAI + Gmail",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/extract",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": [\n    \"https://www.quiverquant.com/congresstrading/*\"\n  ],\n  \"prompt\": \"Extract all notable congress member trades over $50,000 USD in the past 1 month. Include the Congress Member's name, party, the Stock/Asset purchased or sold, the Amount of the transaction, and the date of the transaction.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"notable_trades\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"congress_member_name\": {\n              \"type\": \"string\"\n            },\n            \"party\": {\n              \"type\": \"string\"\n            },\n            \"stock_or_asset\": {\n              \"type\": \"string\"\n            },\n            \"amount\": {\n              \"type\": \"number\"\n            },\n            \"transaction_date\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"congress_member_name\",\n            \"stock_or_asset\",\n            \"amount\",\n            \"transaction_date\"\n          ]\n        }\n      }\n    },\n    \"required\": [\n      \"notable_trades\"\n    ]\n  }\n}\n",
        "options": {}
      },
      "id": "8e802c42-d8eb-4d3b-8a08-955d9bd98183",
      "name": "Extract",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1296,
        512
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://api.firecrawl.dev/v1/extract/{{ $('Extract').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "b884be94-630a-4166-a54a-439e581a648d",
      "name": "Get Results",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1728,
        512
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4188c94f-170b-4f42-8197-675f171bc1a5",
              "name": "data",
              "type": "string",
              "value": "={{ $json.trades }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d7aba1ee-8717-4e0f-ba54-1f26ade821e1",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2512,
        528
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "c5217853-831b-4ab5-90d7-a751ebf98753",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1056,
        512
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sendTo": "your_email@example.com",
        "subject": "Congress Trade Updates - QQ",
        "emailType": "text",
        "message": "={{ $json.message.content }}",
        "options": {}
      },
      "id": "9e450a55-74cf-477d-b8ef-942daea48001",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2992,
        528
      ],
      "typeVersion": 2.1,
      "webhookId": "ffc94d97-89eb-4710-b334-f12b20112b67"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "6d815b2e-1717-4d52-a30d-74e17a84f0f3",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.trades }}",
              "rightValue": "[empty array]"
            }
          ]
        },
        "options": {}
      },
      "id": "6295f6ed-b3e3-46d6-a9c4-ce31b8eea48f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        2256,
        512
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "cf5c2e53-6b56-4c32-be67-fda8be7d87de",
      "name": "Wait 15 secs",
      "type": "n8n-nodes-base.wait",
      "position": [
        2368,
        768
      ],
      "typeVersion": 1.1,
      "webhookId": "b5195f93-0da7-4c46-931e-31245a747e07"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let trades = $json.data;\nif (!Array.isArray(trades)) {\n  trades = trades ? [trades] : [];\n}\nreturn { trades };"
      },
      "id": "437f84fd-0af8-44ab-b6d0-d2b0b87511e6",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        1968,
        512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "Converting to Array",
        "height": 280,
        "color": 6
      },
      "id": "785fbb44-4d0f-4d3b-9263-b8411e04c71d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Get Request to Firecrawl",
        "height": 280
      },
      "id": "3f977a3a-b622-4147-8101-cff0c7882baa",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Post Request to Firecrawl",
        "height": 280,
        "color": 2
      },
      "id": "0a0a69cd-5729-4335-b831-c91a91d69930",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "76bb6c47-ead1-47a8-a1c2-67dc208dbe0e",
      "name": "Wait 30 Secs",
      "type": "n8n-nodes-base.wait",
      "position": [
        1520,
        512
      ],
      "typeVersion": 1.1,
      "webhookId": "e53bd0d6-8d0b-459b-8d30-e5f5649c7ce2"
    },
    {
      "parameters": {
        "content": "Scheduled Trigger",
        "height": 280,
        "width": 200,
        "color": 6
      },
      "id": "552499e5-43bc-4751-b866-0c02ba3c6254",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Conditional check if crawl has completed",
        "height": 280,
        "color": 3
      },
      "id": "d20f4369-b200-4a56-b8b5-f74fcc42c8b8",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "chatgpt-4o-latest",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.data }}"
            },
            {
              "content": "You are a helpful text editing assistant. You will receive a blob of text as data (they are congressional trading/transaction data). Your job is to format them into an easily readable format where it shows the category of Transaction Date, the Stock/Asset Purchase Amount, The Name of the Stock, the Name of the Purchaser and his/her party.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "0d924e04-cd64-41ef-b7a8-983c51763f16",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2672,
        528
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "content": "Formatting + Email Send",
        "height": 280,
        "width": 700,
        "color": 4
      },
      "id": "e648e538-d0ff-4071-a83a-412e7c9df544",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2432,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Result not ready - loop to wait for result",
        "height": 280,
        "width": 940,
        "color": 4
      },
      "id": "c2923e32-af61-49c3-a6b3-c0c2129e722d",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Wait for result",
        "height": 280,
        "width": 160
      },
      "id": "8dc535a1-4622-45c0-8324-bb135fd025f9",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "🔧 How It Works\n🕒 Schedule Trigger\nFires daily at a set hour (e.g., 6 PM) to begin the data pipeline.\n\n🔥 Firecrawl Extract API (POST)\nTargets the Quiver Quantitative “Congress Trading” page and sends a structured prompt asking for all trades over $50K in the past month.\n\n⏳ Wait Node\nAllows time for Firecrawl to finish processing before retrieving results.\n\n📥 Firecrawl Get Result API (GET)\nRetrieves the extracted and structured data.\n\n🧠 OpenAI Chat Model (GPT-4o)\nFormats the raw trading data into a readable summary that includes:\n\nDate of Transaction\n\nStock/Asset traded\n\nAmount\n\nCongress member’s name and political party\n\n📧 Gmail Node\nSends the summary to your inbox with the subject “Congress Trade Updates - QQ”.\n\nWatch Full Set Up Tutorial here: https://www.youtube.com/@Automatewithmarc\n\n🧠 Why This is Useful\nCongressional trading activity often reveals valuable signals — especially when high-value trades are made.\nThis workflow:\n\nSaves time manually tracking Quiver Quant updates\n\nConverts complex tables into a daily, readable email\n\nKeeps investors, researchers, and newsrooms in the loop — hands-free\n\n🛠 Requirements\nFirecrawl API Key (with extract access)\n\nOpenAI API Key\n\nGmail OAuth2 credentials\n\nn8n (self-hosted or cloud)\n\n💬 Sample Output:\nCongress Trade Summary – May 21\n\nNancy Pelosi (D) sold TSLA for $85,000 on April 28\n\nJohn Raynor (R) purchased AAPL worth $120,000 on May 2\n... and more\n\n🪜 Setup Steps\nAdd your Firecrawl, OpenAI, and Gmail credentials in n8n.\n\nAdjust the schedule node to your desired time.\n\nCustomize the OpenAI system prompt if you want a different summary style.\n\nDeploy the workflow — and enjoy your daily edge.\n\n",
        "height": 1300,
        "width": 600
      },
      "id": "a986bbeb-8a8c-4236-8085-2021b0d80813",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-19T03:09:59.861Z",
  "versionId": "953dac0d-ceb8-4176-b645-0876f4aa250a"
}