workflows/Pl0S8hqxmwwbHlE1.json
{
  "active": false,
  "connections": {
    "Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Grok-4 Stock Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Grok-4 Stock Analyst Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Summary Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Grok-4 Stock Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Grok-4 Stock Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Stock Holdings Portfolio": {
      "ai_tool": [
        [
          {
            "node": "Grok-4 Stock Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Grok-4 Stock Analyst Agent": {
      "main": [
        [
          {
            "node": "Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-30T09:24:52.944Z",
  "id": "Pl0S8hqxmwwbHlE1",
  "isArchived": false,
  "meta": {
    "templateId": "5994"
  },
  "name": "Personalized Stock Portfolio Analysis and Recommendations with Grok-4 and Perplexity",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "0b2f04c2-967e-4ca1-bfd8-10f7e36c2acd",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1136,
        384
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "As a stock analyst agent:\n1. Please use the Google Sheet tool titled \"Stock Holdings Portfolio\" for my current stock holdings information\n\n2. Please research the latest stock market news in the last 24 hours using the Perplexity tool, and tell me how the latest stock market news affected my portfolio\n\n3. Give some analyst insights + buy/sell recommendations based on the news\n",
        "options": {}
      },
      "id": "a46fcb0f-d668-4203-aa8b-b76ffd731ef6",
      "name": "Grok-4 Stock Analyst Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1376,
        384
      ],
      "retryOnFail": false,
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "grok-4-0709",
        "options": {}
      },
      "id": "027b6215-647a-40a0-9341-0a199c61ffc8",
      "name": "xAI Grok Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "position": [
        1328,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "id": "43e3bbc7-7f17-4755-902d-c6ab122845ab",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1472,
        608
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
        "options": {
          "searchRecency": "day"
        },
        "requestOptions": {}
      },
      "id": "a779c609-3c10-48f9-b06d-6989bc42c40d",
      "name": "Perplexity",
      "type": "n8n-nodes-base.perplexityTool",
      "position": [
        1632,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit",
          "cachedResultName": "Your Google Sheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=0",
          "cachedResultName": "Sheet1"
        }
      },
      "id": "e46bf600-7e37-4eb5-b438-775626f310c9",
      "name": "Stock Holdings Portfolio",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1760,
        608
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "sendTo": "youremail@example.com",
        "subject": "Stock Updates",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "5eb16e68-fe5a-41a5-9ea2-5957b13c9f31",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2256,
        384
      ],
      "webhookId": "e09fb831-ef69-465e-be84-b7ef204ccdc5",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "model": "grok-4-0709",
        "options": {}
      },
      "id": "acbc233d-91bb-40f6-9431-4c589c797043",
      "name": "xAI Grok Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "position": [
        1936,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are a helpful summary assistant, summarize the information received from user and output easily readable email format of the summary."
        }
      },
      "id": "1987513e-da25-47d0-8ef6-5181be09f907",
      "name": "Summary Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1920,
        384
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "On Schedule Trigger",
        "height": 580
      },
      "id": "d07a6f28-00a3-41e5-855e-ebf6a88d03b2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Grok-4 Stock Analyst Agent",
        "height": 580,
        "width": 580,
        "color": 4
      },
      "id": "a029bfb4-21bb-4639-9ea4-2d9d159f3832",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Grok-4 Summary Agent",
        "height": 580,
        "width": 300,
        "color": 5
      },
      "id": "1a7d0e1d-bd98-43fc-bf45-8353f45401b2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Email Output",
        "height": 580,
        "width": 300,
        "color": 6
      },
      "id": "ac347c55-7834-4a61-9967-513472c89b2b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "📊 Grok-4 with Perplexity Stock Investment Analyst – Personalized Daily Market Insights\n\nThis workflow acts as your personal AI stock analyst—powered by Grok-4, Perplexity, and Google Sheets—to give you daily, tailored market insights based on your actual investment portfolio.\n\nEvery morning, the workflow:\n\nFetches your current stock holdings from a connected Google Sheet\n\nUses Perplexity to search and summarize the latest stock market news relevant to your portfolio\n\nLeverages Grok-4 AI to analyze how those news events impact your stocks\n\nProvides buy/sell/hold recommendations and AI-powered investment insights\n\nEmails you a clean, easy-to-read summary—perfect for busy investors\n\nTo watch the step-by-step Tutorial build of this workflow, check out: https://youtu.be/OXzsh-Ba-8Y\n\nGoogle Sheet Template:\nhttps://docs.google.com/spreadsheets/d/1074dZk-vhwz6LML5zoiwHdxg89Z8u_mgl7wwzqf3A98/edit?usp=sharing\n\n\n🧠 What’s Inside:\nAI Agent: Grok-4 Stock Analyst (via xAI Grok-4)\n\nTool Integrations:\n 📄 Google Sheets (Portfolio input)\n 🔍 Perplexity (News search)\n ✍️ GPT Summary Agent (Readable output)\n 📧 Gmail (Automated delivery)\n\nSchedule: Runs daily at 10:00 AM by default (customizable)\n\n💡 Use Cases:\nRetail investors seeking personalized news summaries\n\nPortfolio managers automating market analysis\n\nFintech startups prototyping intelligent investment advisors\n\nAnyone wanting actionable stock updates without reading 10+ articles",
        "height": 840,
        "width": 560,
        "color": 4
      },
      "id": "7553afe2-a0f8-4ee1-adec-5d94fd6f0b6a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-30T09:24:52.944Z",
  "versionId": "ff8936ac-2669-4b73-b4a8-3b5f67f25cfe"
}