workflows/qryObVFqgeeqLqEj.json
{
  "active": false,
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Tickers": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Market News Trigger": {
      "main": [
        [
          {
            "node": "Prep Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-30T09:25:19.418Z",
  "id": "qryObVFqgeeqLqEj",
  "isArchived": false,
  "meta": {
    "templateId": "5418"
  },
  "name": "FinnHub API and Slack Template",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 9 * * 1-5"
            }
          ]
        }
      },
      "id": "a244c890-bc5f-4edd-91f4-37192d7807c2",
      "name": "Daily Market News Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1200,
        592
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://finnhub.io/api/v1/company-news",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.ticker }}"
            },
            {
              "name": "from",
              "value": "={{ $now.toLocal().toISO().split('T')[0] }}"
            },
            {
              "name": "to",
              "value": "={{ $now.toLocal().toISO().split('T')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1baa58b8-de7e-469c-a1ab-3c020e87714e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1856,
        592
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c36458a6-50c2-4219-b459-6629147c205e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1632,
        592
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "0da44d7e-1300-4d47-80f2-da63e647dfe8",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        2928,
        672
      ],
      "webhookId": "6c990829-24a2-4dfd-a689-4bdbd37a8bd3",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#stock-market"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "64246872-3c95-429f-93e8-561ad6b6b940",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        2448,
        592
      ],
      "webhookId": "4a63a5b5-e257-430e-8956-8cd1a620c4f2",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "jsCode": "let msg = '*' + ($input.first().json.related ? $input.first().json.related : $('Loop Over Items').first().json.ticker) + '* - Daily Market News :newspaper: \\n\\n';\n\nlet count = 0;\n\nif ($input.first().json.related) {\n  for (const item of $input.all()) {\n    count++;\n    if (count <= 5) {\n      msg += '- <' + item.json.url + '|' + item.json.headline + '>\\n';\n    } else {\n      break;\n    }\n    \n  }\n} else {\n  msg += 'No news found for this ticker'\n}\n\nreturn {\n  output: msg\n}"
      },
      "id": "35e91c84-e051-4b71-91ea-2800d5919751",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "position": [
        2080,
        592
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "4ab6c87d-536e-4d40-a6c3-e92ed3f30e13",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1840,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const tickers = [\"AAPL\", \"META\", \"NVDA\", \"TSLA\", \"MSFT\", \"AMZN\", \"GOOG\", \"IAU\", \"IBIT\", \"QQQ\", \"SPY\"];\n\nlet output = [];\n\nfor(const item of tickers) {\n  output.push({ticker: item});\n}\n\nreturn output;"
      },
      "id": "4987c8e4-83da-403c-aca2-f56e77d9f4a9",
      "name": "Prep Tickers",
      "type": "n8n-nodes-base.code",
      "position": [
        1408,
        592
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Daily Company News Bot\n### This n8n template demonstrates how to use Free FinnHub API to retrieve the company news from a list stock tickers and post messages in Slack channel with a pre-scheduled time.\n\n### How it works\n* We firstly define the list of stock tickers you are interested\n* Loop over items to call FinnHub API to get the latest company news via the ticker\n* Then we format the company news as a markdown text content which could be sent to Slack\n* Post a new message in Slack channel\n* Wait for 5 seconds, then move to the next ticker\n\n### How to use\n* Simply setup a scheduler trigger to automatically trigger the workflow\n\n### Requirements\n* FinnHub API Key\n* Slack channel webhook\n\n\n### Need Help?\nContact me via [My Blog](https://fans-ai-lab.com/contact) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!",
        "height": 960,
        "width": 460
      },
      "id": "8914ece4-d42b-4db9-a6dd-ef6310320e53",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Prepare the list of the tickers \nFeel free to update the list of the tickers"
      },
      "id": "553353ca-c848-4110-91a5-ffdd9edabc28",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Retrieve company news via FinnHub API\n\n### FinnHub FREE API\n- go to [FinnHub API site](https://finnhub.io/)\n- get a free API key\n- create a FinnHub Header Auth credential in n8n\n\n",
        "height": 440,
        "width": 440
      },
      "id": "957ee9cc-3f32-4bed-aaf8-6ff3d9e8f1d3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Post to Slack Channel via webhook\n\n### Slack Channel webhook\n- go your slack app management dashboard\n- create a new app\n- enable webhook for the newly created app\n\ndetails to follow this instruction [Sending messages using incoming webhooks](https://api.slack.com/messaging/webhooks)\n\n",
        "height": 440,
        "width": 440
      },
      "id": "eea4abee-a783-452c-afb1-496e658f2e38",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2288,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Wait for 5 seconds\n\nYou can customize it to other waiting time you want. The main purpose here is to avoid sending too many requests to Finnhub at one time due to limited usage of FinnHub Free API\n\n",
        "height": 440,
        "width": 440
      },
      "id": "45362a93-2523-44e4-8e3e-1b642eaa7381",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2752,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Cron scheduler\ncurrently it is scheduled every weekday morning at 9:15AM. You can customize it to any time you want"
      },
      "id": "51f5c38c-3fd9-4022-9c24-d83b4d98818d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        784
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-30T09:25:19.418Z",
  "versionId": "a982778c-7406-4b45-a595-61ee229c2e3f"
}