workflows/s6XdJblXi3zOSwqz.json
{
  "active": false,
  "connections": {
    "Format output": {
      "main": [
        [
          {
            "node": "Clean Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Keywords": {
      "main": [
        [
          {
            "node": "Aggregate keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Keyword": {
      "main": [
        [
          {
            "node": "Get airtable data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get airtable data": {
      "main": [
        [
          {
            "node": "Get Amazon keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate keywords": {
      "main": [
        [
          {
            "node": "Combine into string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine into string": {
      "main": [
        [
          {
            "node": "Save keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Amazon keywords": {
      "main": [
        [
          {
            "node": "Format output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-19T10:58:39.024Z",
  "id": "s6XdJblXi3zOSwqz",
  "isArchived": false,
  "meta": {
    "templateId": "2629"
  },
  "name": "Generate Amazon FBA keywords using Amazon Completion API",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb95058f-0c20-4249-8a45-7b935fde1874",
              "name": "Keywords",
              "type": "array",
              "value": "={{ $json.value }}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "ac4b8cad-b8a3-4cc0-a848-1b6976c1d78a",
      "name": "Clean Keywords",
      "type": "n8n-nodes-base.set",
      "position": [
        1312,
        720
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appGZ14ny5J2PYbq8",
          "cachedResultUrl": "https://airtable.com/appGZ14ny5J2PYbq8",
          "cachedResultName": "Amazon keyword"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblvK8Nq4Jqb2Ubun",
          "cachedResultUrl": "https://airtable.com/appGZ14ny5J2PYbq8/tblvK8Nq4Jqb2Ubun",
          "cachedResultName": "Table 1"
        },
        "id": "={{ $json.query.q }}",
        "options": {}
      },
      "id": "62575572-e4d2-43e8-9339-d4737961883e",
      "name": "Get airtable data",
      "type": "n8n-nodes-base.airtable",
      "position": [
        720,
        720
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "url": "=https://completion.amazon.com/api/2017/suggestions?mid=ATVPDKIKX0DER&alias=aps&prefix={{ $json.Keyword }}",
        "options": {}
      },
      "id": "e165df91-c212-4c47-8b79-2e637d0fcb7b",
      "name": "Get Amazon keywords",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        928,
        720
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "fieldToSplitOut": "suggestions",
        "options": {}
      },
      "id": "49fca0c4-7d1b-4369-9274-2c0b2bb81c8b",
      "name": "Format output",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1136,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Keywords"
            }
          ]
        },
        "options": {}
      },
      "id": "cb00c467-49dd-4504-b5bb-d512baf55bfd",
      "name": "Aggregate keywords",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1536,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    keywords: items[0].json.Keywords.join(\", \")\n  }\n}];"
      },
      "id": "0b04d232-488d-4420-b991-d12b511d5fde",
      "name": "Combine into string",
      "type": "n8n-nodes-base.code",
      "position": [
        1728,
        720
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appGZ14ny5J2PYbq8",
          "cachedResultUrl": "https://airtable.com/appGZ14ny5J2PYbq8",
          "cachedResultName": "Amazon keyword"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblvK8Nq4Jqb2Ubun",
          "cachedResultUrl": "https://airtable.com/appGZ14ny5J2PYbq8/tblvK8Nq4Jqb2Ubun",
          "cachedResultName": "Table 1"
        },
        "columns": {
          "value": {
            "id": "={{ $('Get airtable data').item.json.id }}",
            "Keyword output": "={{ $json.keywords }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "Keyword",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Keyword",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Trigger",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Trigger",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Keyword output",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Keyword output",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "id": "dae32617-6d15-4f30-a27f-894787c137e2",
      "name": "Save keywords",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1936,
        720
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "path": "e1df17af-e8b8-4261-ba45-aba7106c65bd",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "aa451c9b-cfc7-4a9a-9ab5-1e6690039eb6",
      "name": "Receive Keyword",
      "type": "n8n-nodes-base.webhook",
      "position": [
        480,
        720
      ],
      "webhookId": "e1df17af-e8b8-4261-ba45-aba7106c65bd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## How to build your own Amazon keywords tool with n8n (For free and no coding)\n\nThis workflow gives you Amazon keywords for your Amazon FBA business.\n\n[💡 You can read more about this workflow here](https://rumjahn.com/how-to-build-your-own-amazon-keywords-tool-with-n8n-for-free-and-no-coding/)",
        "height": 163.2468619246862,
        "width": 589.0376569037658
      },
      "id": "8dc19b86-ac56-487d-9678-04c9f8306786",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Send keywords \nYou need to send the workflow a keyword through webhook. You can get my airtable example to see how to send keyword.\n[Download airtable here.](https://airtable.com/invite/l?inviteId=invgv9FzNB258bm5Z&inviteToken=6f820e142d3324318254c1768fa57809b3ef0bcb7212ea27730fd2d140c69ad5&utm_medium=email&utm_source=product_team&utm_content=transactional-alerts)",
        "height": 389.08073541167073,
        "width": 239.99999999999977,
        "color": 4
      },
      "id": "c1341984-f1a7-4c7e-8a23-46adea6d2afe",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Send to Amazon\nAmazon has a completion API that gives you keyword data.",
        "height": 386.2350119904079,
        "width": 218.65707434052769,
        "color": 6
      },
      "id": "17c13b36-a350-4031-bb9b-a6f8dabd1b90",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save keywords \nDownload my airtable example to save the keywords.\n[Download airtable here.](https://airtable.com/invite/l?inviteId=invgv9FzNB258bm5Z&inviteToken=6f820e142d3324318254c1768fa57809b3ef0bcb7212ea27730fd2d140c69ad5&utm_medium=email&utm_source=product_team&utm_content=transactional-alerts)",
        "height": 389.08073541167073,
        "width": 181.6626698641084,
        "color": 4
      },
      "id": "3deef28b-90b9-4357-a46d-78d750126b65",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        512
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-19T10:58:39.024Z",
  "versionId": "9f1496ce-4f06-44db-a395-36480ad07c26"
}