workflows/viABdcVQeZKGcNIQ.json
{
  "active": false,
  "connections": {
    "Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Stock Market News & Analytics Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Stock Market News & Analytics Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Stock Market News & Analytics Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Stock Market News & Analytics Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Portfolio Holdings": {
      "ai_tool": [
        [
          {
            "node": "Stock Market News & Analytics Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Stock Market News & Analytics Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-30T09:24:58.660Z",
  "id": "viABdcVQeZKGcNIQ",
  "isArchived": false,
  "meta": {
    "templateId": "5783"
  },
  "name": "Stock Portfolio Analysis with Perplexity AI, GPT-4, and Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "75c3c99c-73ee-4545-aeeb-1bd47e0af8b9",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1248,
        368
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "id": "5dafae6c-8951-40cd-9633-92c1284a66aa",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1520,
        592
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "id": "09c10f7f-f9a1-4ef6-a1a4-014ffc06e4ed",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1680,
        592
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "d905d541-fc69-4a2b-b31a-ac62a80f3978",
      "name": "Portfolio Holdings",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1856,
        592
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Fetch the summary of the stock market news today and how it affected my portolio. Make sure that they are the most recent news, take reference to the date today: {{ $json['Readable date'] }}  by using the Perplexity Tool Search. Also give some recommendations. Start the response with \"Today is {{ $json['Readable date'] }}...\"",
        "options": {
          "systemMessage": "You are a market research assistant responsible for generating a concise yet insightful Daily Stock Market Intelligence Briefing. Your audience is an active investor with assets listed in the Portfolio Holdings Google Sheet\n\n#Tool\nUse Perplexity as the web search tool for your research.\nUse the Portfolio Holdings Google Sheet Tool to refer to current holdings of the user in order to give the most relevant output\n\nEach day, your job is to:\n\n📰 1. Curate Key Market Headlines (Concise Summary Format)\nInclude 5–7 top headlines affecting the U.S. stock market. These can include:\n\nMacroeconomic indicators (CPI, interest rates, job reports, Fed decisions)\n\nMajor geopolitical developments\n\nSignificant corporate earnings\n\nFinancial sector news impacting banks (e.g., regulation, stress tests, default risks)\n\n📈 2. Highlight Noteworthy Investing or Trading Opportunities\nIdentify any:\n\nUndervalued assets based on sentiment/news\n\nBreakouts or technical momentum setups\n\nNew AI or tech developments likely to benefit the assets listed\n\nBanking trends such as earnings strength, credit risk\n\nInclude:\n\nWhat the opportunity is\n\nWhy it matters (news or trend context)\n\nTime sensitivity (short-term/medium-term)\n\n⚠️ 3. Outline Key Risks or Headwinds\nInclude:\n\nMacro risks (e.g., rate hikes, inflationary concerns, China/US tensions)\n\nSector-specific concerns (e.g., chip supply for NVDA, ad spending for GOOGL/AMZN)\n\nBlack swan or tail risks (e.g., systemic banking risk, debt ceiling)\n\n💡 4. Provide Actionable Trade Suggestions\nBased on the analysis above, suggest 1–3 potential trade actions, such as:\n\nBuy/sell/hold recommendations\n\nRebalancing ideas (e.g., shifting from tech to gold if macro risk rises)\n\nThematic ETF ideas (e.g., AI ETFs, inverse financials, S&P sector rotations)\n\nMention if the recommendation is tactical (short-term) or strategic (long-term)\n\nEach suggestion should include:\n\nThe reasoning (based on news/macro)\n\nSuggested time horizon\n\nRisk caveat or alternate view\n\n"
        }
      },
      "id": "f6e4c996-7c81-4662-aaba-f219cc78971c",
      "name": "Stock Market News & Analytics Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1632,
        368
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
        "options": {},
        "requestOptions": {}
      },
      "id": "58f0c883-d2ca-414b-9b37-74557f8154d3",
      "name": "Perplexity",
      "type": "n8n-nodes-base.perplexityTool",
      "position": [
        1968,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "\"Insert Chat ID\"",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "d93db04b-0565-4c13-a1b2-3c27552423f4",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2208,
        368
      ],
      "webhookId": "4068a291-679c-4c73-af42-b4472dac064e",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "Scheduled Trigger",
        "height": 580
      },
      "id": "907ac137-4c28-477f-a5cf-517552ca80ff",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Stock Market Fetch & Portfolio Analysis",
        "height": 580,
        "width": 660,
        "color": 4
      },
      "id": "d0ee23a3-6e55-4a10-bf5c-ff0d7a234628",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Telegram Output",
        "height": 580,
        "width": 300,
        "color": 5
      },
      "id": "8baf92d2-c31c-4e06-8845-5a1fe8c655e4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2128,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "📊 Dynamic Portfolio Advisor – Daily Stock Market Intelligence with Google Sheets\nDescription:\nThis advanced AI-powered n8n workflow automatically delivers a daily market intelligence briefing tailored to your stock holdings portfolio stored in Google Sheets. It uses real-time data from Perplexity AI, combines it with your portfolio, and generates personalized insights, risk alerts, and trade suggestions — all delivered via Telegram or any messaging app of your choice.\n\nFor step-by-step build of workflows like this, check out:\nhttps://www.youtube.com/@Automatewithmarc\n\n⚙️ How It Works:\n🕒 Daily Trigger\n Starts every day at a scheduled time (default: 10 AM) to fetch the most recent market data.\n\n📈 Holdings Fetch\n Reads your current portfolio dynamically from Google Sheets — no hardcoding required.\n\n🧠 AI Analysis Agent\n Combines:\n\nMarket headlines\n\nCompany-specific developments\n\nMacroeconomic updates\n And analyzes how they might affect your holdings.\n\n🔍 Perplexity Web Research Tool\n Finds and summarizes the most relevant stock market news from the past 24 hours.\n\n💬 Telegram Delivery\n Sends a customized summary of:\n\nMarket highlights\n\nAsset-specific impacts\n\nOpportunities and risks\n\nActionable trade ideas (buy/sell/hold)\n\n🛠️ Tools & Integrations:\nGoogle Sheets (live holdings feed)\n\nPerplexity AI (real-time market research)\n\nOpenAI GPT (financial summarization)\n\nTelegram (output, customizable)\n\n💡 Use Cases:\nPortfolio-aware market intelligence\n\nAutomated investor briefing assistant\n\nRisk alert + opportunity scanner\n\nDaily trade idea generator\n\nFinance bloggers or equity analysts streamlining prep work\n\n📍Note: You can easily replace Telegram with Slack, Email, Notion, or any output tool supported by n8n.\n\nThis template is perfect for active investors, financial advisors, or automation-savvy traders who want to turn AI and data into actionable daily signals.",
        "height": 1200,
        "width": 800,
        "color": 6
      },
      "id": "461b4d07-8f96-44ca-b5e9-3b49eb77e25d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-30T09:24:58.660Z",
  "versionId": "72e3ebc3-5717-42d4-a414-6ca75d7fe040"
}